<style type="text/css">
	.avg_streak_circle1 {
        <%
            if @average > 1
            	avg = 100
            else
            	avg = @average*100
            end
        %>
        margin-left: 1%;
        float:left;
        background: #CDCDCD;
        width:45px;
        height: 45px;
        border-radius: 50%;
        background: #009fe6; 
        background: -moz-linear-gradient(left,  #009fe6 0%, #009fe6 <%=avg%>%, #cdcdcd <%=avg%>%, #cdcdcd 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,#009fe6), color-stop(<%=avg%>%,#009fe6), color-stop(<%=avg%>%,#cdcdcd), color-stop(100%,#cdcdcd)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left,  #009fe6 0%,#009fe6 <%=avg%>%,#cdcdcd <%=avg%>%,#cdcdcd 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left,  #009fe6 0%,#009fe6 <%=avg%>%,#cdcdcd <%=avg%>%,#cdcdcd 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left,  #009fe6 0%,#009fe6 <%=avg%>%,#cdcdcd <%=avg%>%,#cdcdcd 100%); /* IE10+ */
        background: linear-gradient(to right,  #009fe6 0%,#009fe6 <%=avg%>%,#cdcdcd <%=avg%>%,#cdcdcd 100%); /* W3C */    
    }
    .avg_streak_circle2 {
        <%
            if @average > 2
            	avg = 100
            else
            	rem = @average - 1
            	avg = rem*100
            end
        %>
        margin-left: 1%;
        float:left;
        background: #CDCDCD;
        width:45px;
        height: 45px;
        border-radius: 50%;
        background: #009fe6; 
        background: -moz-linear-gradient(left,  #009fe6 0%, #009fe6 <%=avg%>%, #cdcdcd <%=avg%>%, #cdcdcd 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,#009fe6), color-stop(<%=avg%>%,#009fe6), color-stop(<%=avg%>%,#cdcdcd), color-stop(100%,#cdcdcd)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left,  #009fe6 0%,#009fe6 <%=avg%>%,#cdcdcd <%=avg%>%,#cdcdcd 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left,  #009fe6 0%,#009fe6 <%=avg%>%,#cdcdcd <%=avg%>%,#cdcdcd 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left,  #009fe6 0%,#009fe6 <%=avg%>%,#cdcdcd <%=avg%>%,#cdcdcd 100%); /* IE10+ */
        background: linear-gradient(to right,  #009fe6 0%,#009fe6 <%=avg%>%,#cdcdcd <%=avg%>%,#cdcdcd 100%); /* W3C */    
    }
    .avg_streak_circle3 {
        <%
            if @average > 3
            	avg = 100
            else
            	rem = @average - 2
            	avg = rem*100
            end
        %>
        margin-left: 1%;
        float:left;
        background: #CDCDCD;
        width:45px;
        height: 45px;
        border-radius: 50%;
        background: #009fe6; 
        background: -moz-linear-gradient(left,  #009fe6 0%, #009fe6 <%=avg%>%, #cdcdcd <%=avg%>%, #cdcdcd 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,#009fe6), color-stop(<%=avg%>%,#009fe6), color-stop(<%=avg%>%,#cdcdcd), color-stop(100%,#cdcdcd)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left,  #009fe6 0%,#009fe6 <%=avg%>%,#cdcdcd <%=avg%>%,#cdcdcd 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left,  #009fe6 0%,#009fe6 <%=avg%>%,#cdcdcd <%=avg%>%,#cdcdcd 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left,  #009fe6 0%,#009fe6 <%=avg%>%,#cdcdcd <%=avg%>%,#cdcdcd 100%); /* IE10+ */
        background: linear-gradient(to right,  #009fe6 0%,#009fe6 <%=avg%>%,#cdcdcd <%=avg%>%,#cdcdcd 100%); /* W3C */    
    }

    .avg_streak_circle4 {
        <%
            if @average > 4
            	avg = 100
            else
            	rem = @average - 3
            	avg = rem*100
            end
        %>
        margin-left: 1%;
        float:left;
        background: #CDCDCD;
        width:45px;
        height: 45px;
        border-radius: 50%;
        background: #009fe6; 
        background: -moz-linear-gradient(left,  #009fe6 0%, #009fe6 <%=avg%>%, #cdcdcd <%=avg%>%, #cdcdcd 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,#009fe6), color-stop(<%=avg%>%,#009fe6), color-stop(<%=avg%>%,#cdcdcd), color-stop(100%,#cdcdcd)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left,  #009fe6 0%,#009fe6 <%=avg%>%,#cdcdcd <%=avg%>%,#cdcdcd 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left,  #009fe6 0%,#009fe6 <%=avg%>%,#cdcdcd <%=avg%>%,#cdcdcd 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left,  #009fe6 0%,#009fe6 <%=avg%>%,#cdcdcd <%=avg%>%,#cdcdcd 100%); /* IE10+ */
        background: linear-gradient(to right,  #009fe6 0%,#009fe6 <%=avg%>%,#cdcdcd <%=avg%>%,#cdcdcd 100%); /* W3C */    
    }

    .avg_streak_circle5 {
        <%
            if @average == 5
            	avg = 100
            else
            	rem = @average - 4
            	avg = rem*100
            end
        %>
        margin-left: 1%;
        float:left;
        background: #CDCDCD;
        width:45px;
        height: 45px;
        border-radius: 50%;
        background: #009fe6; 
        background: -moz-linear-gradient(left,  #009fe6 0%, #009fe6 <%=avg%>%, #cdcdcd <%=avg%>%, #cdcdcd 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,#009fe6), color-stop(<%=avg%>%,#009fe6), color-stop(<%=avg%>%,#cdcdcd), color-stop(100%,#cdcdcd)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left,  #009fe6 0%,#009fe6 <%=avg%>%,#cdcdcd <%=avg%>%,#cdcdcd 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left,  #009fe6 0%,#009fe6 <%=avg%>%,#cdcdcd <%=avg%>%,#cdcdcd 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left,  #009fe6 0%,#009fe6 <%=avg%>%,#cdcdcd <%=avg%>%,#cdcdcd 100%); /* IE10+ */
        background: linear-gradient(to right,  #009fe6 0%,#009fe6 <%=avg%>%,#cdcdcd <%=avg%>%,#cdcdcd 100%); /* W3C */    
    }

    .avg_streak_cont{
    	width: 240px;
    	height:45px;
    }
    

    #prayer_per_day  p {
    	margin-top: 7%;
    }

</style>

<div id="prayer_per_day"><p><span><%= @average %></span> per day</p></div>
<div class="avg_streak_cont">
	<div class="avg_streak_circle1"></div>
	<div class="avg_streak_circle2"></div>
	<div class="avg_streak_circle3"></div>
	<div class="avg_streak_circle4"></div>
	<div class="avg_streak_circle5"></div>
</div>
<div id="longest_streak" ><p>longest streak - <%= @longestStreak %> days</p></div>