<!DOCTYPE html>
<body>

<% post_url = root_url() + 'katibeen/submitDayData' %>

<form action= <%= post_url %> method="post" target="_blank">

<div class="prayers">


	<input name="fajr" type="checkbox" value="2" id = "fajr"/><label for="fajr"> Fajr </label>
	<br>
	<input name="zuhr" type="checkbox" value="2" id = "zuhr"/><label for="zuhr"> Zuhr </label>
	<br>
	<input name="asr" type="checkbox" value="2" id = "asr"/><label for="asr"> Asr </label>
	<br>
	<input name="maghrib" type="checkbox" value="2" id = "maghrib"><label for="maghrib"> Maghrib </label>
	<br>
	<input name="isha" type="checkbox" value="2" id = "isha"><label for="isha"> Isha </label>
	<br>

	<!-- Hidden Inputs for ID and URL of user and day -->
	<input name="prayer_day_id" type="hidden" value= <%=@dayData.id%> >
	<input name="url" type="hidden" value= <%=@dayData.url%> >


	<input type="submit" value="Submit" />&nbsp;</form>

</form>


<a href = <%= root_url()%>day_data/<%=@user.url%>/<%=@dayData.id%>>
	Can't see a form? Click here!
</a>
<!--<![endif]-->
</body>