<!DOCTYPE html>
<body>

<% redirect = root_url() + @user.url%>
<% user_url = redirect[7..-1] %>

<center>
<em style="width:80%;margin:auto;color:#2ba5ae;font-size:1.8em;text-align:center;font-weight: bold;">"The thing that Allah (SWT) loves most <br/> is when his people pray Salah on time."</em>
</center>

<br>
<br>
<br>

		<center>
			<a style="text-decoration:none;margin-top:20px;background:#f85a2a;border:0;color:#fff;padding:15px 40px 15px 40px;font-size:18px;font-weight:bold;border-radius:3%; border-bottom:3px solid #bc5e42; border-right:1px solid #bc5e42; border-left:1px solid #bc5e42;" href = <%= root_url()%>day_data/<%=@user.url%>/<%=@dayData.id%>> Start Salah Check! </a>
		</center>

<br>
<br>



<% unsub = root_url() + "unsubscribe/" + @user.url %>

<p style = "font-weight:bold;font-size: 12px; font-family: calibri; text-align:right;" >

	<a href = <%= root_url()%><%=@user.url%> style = "text-decoration: none; color:#009deb;"> <%=user_url%> </a>

	<a href = <%= unsub %> style = "text-decoration: none; color: #f85a2a; " > | Unsubscribe </a>
<p>

</body>

