<div class = "container">

	<h1>Analytics</h1>

	Average: <%=@average %> / 5
	<br>
	Fajr: <%=@fajr%>%
	<br>
	Zuhr: <%=@zuhr%>%
	<br>
	Asr: <%=@asr%>%
	<br>
	Maghrib: <%=@maghrib%>%
	<br>
	Isha: <%=@isha %>%
	<br>

	Total prayers: <%= @total_prayers %>
	<br>
	Total missed: <%= @total_missed %>
	<br>
	Total prayed: <%= @total_prayed %>
	<br>
	Total users: <%=@total_users%>
	<br>
	Active users: <%= @active %>
	<br>
	Registered: <%=@registered%>
	<br>
	Last Week: <%= @last_week %>
	<br>
	Last Month: <%= @last_month %>

</div>