<style>
.container{
	width: 80%; 
	margin: auto;
}

.container h1 {
	padding-bottom: 0;
	margin-bottom: 0;
	border-bottom: 8px solid #FD5737;
	text-align: center;
}
.container small {
	float: right
	font-size: 15px;
	font-style: italic;
	color: #999;
}

.container small a{

	text-decoration: none;
	font-weight: 200;
	font-size: 15px;
	font-style: italic;
	color: #999;

}

.container table {
	width: 100%;
}
.container td {
	margin: 0;
	vertical-align: top;
}
.container ul {
	list-style: none;
}

.container ul li {
	border-bottom: 6px solid #EEE;
	list-style: none;
	line-height: 50px;
	font-weight: 300px;
	font-size: 30px;
}

.container ul ul li {
	border-bottom: 0;
	list-style: none;
	line-height: 40px;
	font-weight: 300px;
	font-size: 20px;
}

</style>
<%= render "katibeen/dash_banner" %>

<div class = "container">

	<h1>Analytics</h1>
	<small> <a href = 'analytics.xls' >Export as spreadsheet</a> </small>
<table>
	<td>
		<ul>
			<li>
				Average: <%=@average %> / 5
			</li>
			<ul>
				
				<li> 
					Fajr: <%=@fajr%>%
				</li>

				<li> 
					Zuhr: <%=@zuhr%>%
				</li>
				
				<li> 
					Asr: <%=@asr%>%
				</li>
				
				<li> 
					Maghrib: <%=@maghrib%>%
				</li>
				
				<li> 
					Isha: <%=@isha %>%
				</li>
		</ul>
	</td>
	<td>
		<ul>
			<li>
				Totals
			</li>
			<ul>
				<li> 
					Total prayers: <%= @total_prayers %>
				</li>
			
				<li> 
					Total missed: <%= @total_missed %>
				</li>
				
				<li> 
					Total prayed: <%= @total_prayed %>
				</li>
			</ul>
		</ul>
	</td>
	<td>
		<ul>
			<li>
				Users
			</li>
			<ul>
				<li> 
					Total users: <%=@total_users%>
				</li>
				
				<li> 
					Active users: <%= @active %>
				</li>
				
				<li> 
					Registered: <%=@registered%>
				</li>
				
				<li> 
					Last Week: <%= @last_week %>
				</li>
				<li>
					Last Month: <%= @last_month %>
				</li>
			</ul>
		</ul>
	</td>
</table>
</div>