<div id="total_missed_prayers">
    <p><span><%= @filteredData[:missedPrayerData][:totalMissed] %></span> missed</p>
</div>
<div id="missed_prayers">
    <table>
        <tbody>
            <tr>
                <td><div class="circle size_50px fajr">
                    <p><%= @filteredData[:missedPrayerData][:fajr] %></p>
                    </div>
                </td>
                
                <td>
                    <div class="circle size_50px duhr">
                        <p><%= @filteredData[:missedPrayerData][:zuhr] %></p>
                    </div>
                </td>
                <td>
                    <div class="circle size_50px asr">
                        <p><%= @filteredData[:missedPrayerData][:asr] %></p>
                    </div>
                </td>
                <td>
                    <div class="circle size_50px maghrib">
                        <p><%= @filteredData[:missedPrayerData][:maghrib] %></p>
                    </div>
                </td>
                <td>
                    <div class="circle size_50px isha">
                        <p><%= @filteredData[:missedPrayerData][:isha] %></p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div id="most_missed"><p>most missed - <%= @filteredData[:missedPrayerData][:mostMissed] %></p></div>