<p><strong>Salah Adherence</strong></p>
<table>
<tbody>
    <tr>
        <td><div class="circle size_75px fajr"><p><%= @filteredData[:weeklyPerformedAvgData][:fajr] %></p></div></td>
        <td><div class="circle size_75px duhr"><p><%= @filteredData[:weeklyPerformedAvgData][:zuhr] %></p></div></td>
        <td><div class="circle size_75px asr"><p><%= @filteredData[:weeklyPerformedAvgData][:asr] %></p></div></td>
        <td><div class="circle size_75px maghrib"><p><%= @filteredData[:weeklyPerformedAvgData][:maghrib] %></p></div></td>
        <td><div class="circle size_75px isha"><p><%= @filteredData[:weeklyPerformedAvgData][:isha] %></p></div></td>
        </tr>
        <tr>
        <td><div class="prayer_title">FAJR</div></td>
        <td><div class="prayer_title">DUHR</div></td>
        <td><div class="prayer_title">ASR</div></td>
        <td><div class="prayer_title">MAGHRIB</div></td>
        <td><div class="prayer_title">ISHA</div></td>
    </tr>
</tbody>
</table>