<%= render "signup_banner" %>
<center>
	<!-- RENDER THE FORM -->
	<%= render "form" %>
</center>
<div id="hadith">
	<em>&#8220The first thing one will be held accountable for on the Day of Judgement is prayer.&#8221</em>
	<%= image_tag "Muhammad_saw.png", :id => "pbuhArabic"  %>
</div>
<%= render "signup_info" %>
<div id="footer">
    		<span>For the self-directed, motivated Muslim.</span>
    		<div class="footer_button" id="about"><%= link_to "About", katibeen_about_path %></div>
    		<div class="footer_button" id="contact"><p>info@katibean.com</p></div>
            <!--<div class="footer_button" id="contact"><p>Contact Us<p></div>-->
    	</div>
