<%= render "signup_banner" %>
<center>
	<!-- RENDER THE FORM -->
	<%= render "form" %>
	<%= render "modal" %>
</center>
<div id="hadith">
	<em>&#8220The first thing one will be held accountable for on the Day of Judgement is prayer.&#8221</em>
	<%= image_tag "Muhammad_saw.png", :id => "pbuhArabic"  %>
</div>

<%= render "signup_info" %>

<%= render "footer" %>

