<body>
    <div id="top_logo">
        <img src="./images/Katibean_logo_2.png">
    </div>
    <center>
        <div id="prayers_per_week">
            <%= render "overall_data" %>
        </div>
        <%= render "main_chart" %>
        <table>
            <tbody>
                <% @mainWidgetData.each do |data| %>
                                       
                <% end %>
            </tbody>
        </table>
        <%= render "performance_summary" %>
        <div id="overall_analytics">
            <table id="table_of_analytics">
                <tbody>
                    <tr>
                        <td class="analytics_cells">
                            <%= render "user_average" %>
                        </td>
                        <td width="450px" class="analytics_cells">
                            <%= render "weekday_prayer_data" %>
                        </td>
                        <td class="analytics_cells">
                            <%= render "missed_prayers" %>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    <center>
    <div id="footer"></div>
</center></center></body>