<body>
    <%= render "dash_banner" %>
    <center>
        <div id="welcome_msg">
            <h2>Welcome Back!</h2>
        </div>
        <div id="prayers_per_week">
            <%= render "overall_data" %>
        </div>
        <%= render "performance_summary" %>
        <%= render "line_graph" %>
        
        <%= render "main_chart" %>
        <div id="overall_analytics">
            <table id="table_of_analytics">
                <tbody>
                    <tr>
                        <td class="analytics_cells">
                            <%= render "user_average" %>
                        </td>
                        <td width="450px" class="analytics_cells">
                            <%= render "weekday_prayer_data" %>
                        </td>
                        <td class="analytics_cells">
                            <%= render "missed_prayers" %>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </center>
</body>