<%= render "dash_banner" %>

	<%= render "modal" %>
<br>
<body>
<div style="width:670px; border-radius: 6px; border:1px solid #EEE; margin:auto;">
    <div id="hadith">
                <em>&#8220The thing that Allah (SWT) loves most
    is when his people pray Salah on time.&#8221 </em>
                <img id="pbuhArabic" src='/assets/Muhammad_saw.png' />
    </div>


<% post_url = root_url() + 'katibeen/submitDayData' %>

<form data-remote="true" action= <%= post_url %> method="post" >

	<%= csrf_meta_tag %>

<div class="prayers">
<div class="holder">
	<div class="fajr" style = "background: #cdcdcd;"><input type="checkbox" value="2" id="fajr" name="fajr" /><label for="fajr"></label></div>
</div> .
<div class="holder">
	<div class="zuhr"style = "background: #cdcdcd;"><input type="checkbox" value="2" id="zuhr" name="zuhr" /><label for="zuhr"></label></div>
</div>
<div class="holder">
	<div class="asr" style = "background: #cdcdcd;"><input type="checkbox" value="2" id="asr" name="asr" /><label for="asr"></label></div>
</div>
<div class="holder">
	<div class="mag" style = "background: #cdcdcd;"><input type="checkbox" value="2" id="maghrib" name="maghrib" /><label for="maghrib"></label></div>
</div>
<div class="holder">
	<div class="isha" style = "background: #cdcdcd;"><input type="checkbox" value="2" id="isha" name="isha" /><label for="isha"></label></div>
</div>
</div>

<input name="prayer_day_id" type="hidden" value= <%=@prayer_day_id%> >
<input name="url" type="hidden" value= <%=@url%> >

	<table id = "complete" class = "prayer_title">
		<td style = "border-right: 2px solid #dedede;">
			<input type="submit" value = "" class="submitbutton"/><br>
			<br>
			Submit
		</td>
		<td>


		<input type="submit" value = "" name = "submitButton" class="submitdashbutton"/><br>

		<br>
		Submit & View Dash
		</td>
	</table>

<% unsub = root_url() + "unsubscribe/" + @url %>
<br>

<center>
<a href=<%= root_url()%><%=@url%>> <%= @dash %> </a><br>
<a href = <%= unsub %> style = "color: #CDCDCD; font-size: 1em; text-decoration: none;">Unsubscribe?</a>

</div>
</center>

<br>
<br>
<br>
<br>

<%= render "footer" %>

