<%= render "dash_banner" %>

<center>
	<div class="welcome_slider">
		<div class="slider_wrapper">
			<div class="welcome start">
				<%= render "welcome_start" %>
			</div>
			<div class="welcome step1">
				<%= render "step1" %>
			</div>
			<div class="welcome step2">
				<%= render "step2" %>
			</div>
			<div class="welcome step3">
				<%= render "step3" %>
			</div>
		</div>
	</div>
</center>
<%= render "footer" %>



