<%= render "dash_banner" %>

<center>

	<script>

			window.onload = function() {	$("#welcomeModal").modal('show'); }

	</script>
	<%= render "welcome_form" %>
	<div class="welcome_slider">
		<div class="slider_wrapper">
			<div class="welcome start">
				<%= render "welcome_start" %>
			</div>
			<div class="welcome step1">
				<%= render "step1" %>
			</div>
			<div class="welcome step2">
				<%= render "step2" %>
			</div>
			<div class="welcome step3"></div>
		</div>
	</div>
</center>
<%= render "footer" %>


